:root {
 --main-yellow: #e8b846
}

body {
 margin: 0;
 background-color: #d9d9d9;
}

* {
 box-sizing: border-box;
}

.section:nth-child(1) {
 width:100%;
 height: 80vh;
 min-height: 700px;
 background-image: url('./images/jhj-min.jpg');
 background-position: bottom;
 background-size: cover;
 padding-top: 40px;

 >div {
  width:60%;
  height: 80%;
  margin: auto;

  color: whitesmoke;

  display: flex;
  justify-content: end;

  .title,.description {
   padding-top: 35px;
  }

  .title {
   width: 40%;
   height: 100%;

   font-size: 2.5em;
   font-weight: bolder;
   border-right: 10px solid var(--main-yellow);
  }

  .description {
   width: 40%;
   height: 100%;

   font-size: 1.25em;
   margin-left: 20px;

   >div:last-child {
    background-color: var(--main-yellow);
    color: black;
    border-radius: 10px;
    padding: 20px 10px;
    width: 50%;
    text-align: center;

    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;

    margin-top: 80px;
   }
  }
 }
}

.section:nth-child(2) {
 width: 100%;
 height: 250px;
 background-color: #d9d9d9;

 display: flex;
 justify-content: center;

 >.item {
  width: 20%;
  height: 100%;
  margin: 0 5px;
  border-radius: 5px;
  background-color: whitesmoke;

  /* display: flex;
  flex-direction: column;
  align-items: center; */

  position: relative;
  top: -40px;

  padding: 10px;

  box-shadow: 0px 0px 75px -18px rgba(0,0,0,1);

  >div:first-child {
   margin: auto;
   width: 40%;
   aspect-ratio: 1/1;
   border-radius: 50%;
   background-color: var(--main-yellow);

   display: flex;
   justify-content: center;
   align-items: center;

   position: relative;
   top: -40px;

   >img {
    width: 45%;
   }
  }

  >div:nth-child(2) {
   width:100%;
   font-size: 1.25em;
   font-weight: bolder;
   margin-bottom: 10px;
   text-align: center;
  }

  >div:last-child {
   width: 100%;
   text-align: center;
   color: rgba(82, 82, 82, 0.655)
  }
 }
}

.orange {
    background-color: #e7b846;
    height: 100vh;
}

.room {
   display: flex;
   justify-content: center;
   padding-top: 100px;
}
.stul {
    background-image: url(./images/jhj-min.jpg);
    width: 700px;
    height: 400px;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
}


.krug {
    width: 228px;
    height: 228px;
    background-color: #e5e5e5;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    left: 65%;
    bottom: -75%;
}

.discr {
    width: 300px;
    height: 325px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
    z-index: 3;
    position: absolute;
    background-color: white;
    left: 60%;
    top: 190%
}

.txt {
    padding: 20px;
}

.slogan {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
}


.ttxt {
    padding-top: 15px;
    color: gray;
    font-size: 1.05rem;
}


.learn {
    background-color: var(--main-yellow);
    color: black;
    border-radius: 10px;
    padding: 20px 10px;
    width: 50%;
    text-align: center;

    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 20px;
}

.gbg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comfort {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 42px;
    margin-bottom: 60px;
    gap: 30px;
}

.elegant {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}


.blok {
    display: flex;
    background-color: white;
    width: 555px;
    height: 200px;
    padding: 20px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}


.ybox {
    background-color: #e8b846;
    height: 108px;
    width: 120px;
}

.ddd {
    padding-left: 15px;
    font-size: 1.5rem;
    font-family: sans-serif;
}


.unblok {
    
}

.deid {
    padding: 30px;
    width: 610px;
    height: 390px;
    box-shadow: 5px 5px 24px 0 rgba(0,0,0,0.25);
    background-color: white;
    z-index: 2;
    position: relative;
}

.z1 {
    z-index: 1;
    position: absolute;
    top: 360%;
    left: 10%;
}
.z2 {
    z-index: 1;
    position: absolute;
    top: 375%;
    left: 50%;
}
.z3 {
    z-index: 1;
    position: absolute;
    top: 435%;
    left: 30%;
}

.z4 {
    z-index: 1;
    position: absolute;
    top: 475%;
    left: 67%;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.dlo {
    font-size: 3.2rem;
    font-weight: bold;
}


.ddsc {
    color: gray;
    font-size: 1.5rem;
}

.gbgs {
    display: flex;
    justify-content: center;
    height: 1500px;
}

.krs {
    padding: 40px;
    height: 650px;
    width: 580px;
}

.c1{
    position: relative;
    margin-top:0px; 
    margin-left: 69%;  
    width: 160px; 
    height: 160px; 
    border-radius: 100%; 
    background: #d9d9d9; 
    z-index: 1;
 }

 .c2{
    top:235px;
    left: 23%;
    position: relative;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background: linear-gradient(#d9d9d9 6.25%, transparent 6.25%, transparent 12.5%, #d9d9d9 12.5%, #d9d9d9 18.75%, transparent 18.75%, transparent 25%, #d9d9d9 25%, #d9d9d9 31.25%, transparent 31.25%, transparent 37.5%, #d9d9d9 37.5%, #d9d9d9 43.75%, transparent 43.75%, transparent 50%, #d9d9d9 50%, #d9d9d9 56.25%, transparent 56.25%, transparent 62.5%, #d9d9d9 62.5%, #d9d9d9 68.75%, transparent 68.75%, transparent 75%, #d9d9d9 75%, #d9d9d9 81.25%, transparent 81.25%, transparent 87.5%, #d9d9d9 87.5%, #d9d9d9 93.75%, transparent 93.75%, transparent 100%);
    transform: rotate(135deg); 
    z-index: 3;
 }

 .txt1{
    box-shadow: 0px 0px 75px -18px rgba(0,0,0,1); 
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px; 
    height: 370px; 
    width: 23%; 
    position: relative; 
    line-height: 1.2;
    z-index: 3; 
    top: -750px;
    background-color: white; 
    left: 53%;
 
 }

 .cube{
    background-color: #d9d9d9;
    width: 33%;
    height: 37%;
    z-index: 1;
    position: relative;
    left: 46%;
    top: -870px;
 }