:root{
    --main-white: #ffffff;
    --main-pink: #fbeced;
    --main-grey: #f2f2f2;
    --main-purpure: #f0effd;
   }
   
   body {
    margin: 0;
    background-color: var(--main-white);
   }
   
   .content {
    width:60%;
    min-width: 900px;
    max-width: 1200px;
   
    margin: auto;
   
   }
   
   header {
    width: 100%;
    display: flex;
   
    >li {
     list-style-type: none;
   
     font-size: 1.25em;
     text-transform: capitalize;
   
     padding: 30px;
   
     cursor: pointer;
     color: black;
     transition: 0.25s;
     box-sizing: border-box;
   
     &:hover {
      border-bottom: 2px solid grey;
     }
    }
   }
   
   
   .main-banner {
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 60px;
    width:100%;
    height: 600px;
   
    border-radius: 25px;
    background-image: url('./img/pexels-photo-1115804.jpeg');
    background-position: center;
    background-size: cover;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    color: var(--main-white);
   
    padding: 20px;
   
    .title {
     font-size: 5em;
    }
   
    .description {
     font-size: 1.5em;
    }
   
    .section {
     width: 50%;
     margin-top: 20px;
     padding: 20px;
     border-radius: 20px;
   
     background-color: var(--main-grey);
   
     display: flex;
     justify-content: space-between;
     align-items: center;
   
     >input,>button {
      padding: 15px;
      border-radius: 15px;
     }
   
     >input {
      flex-grow: 3;
      border: unset;
     }
   
     >button {
      box-sizing: border-box;
      margin-left: 10px;
      border: unset;
      background-color: black;
      color: white;
      text-transform: uppercase;
     }
    }
   }
   
   .gallery {
    width:100%;
    background-color: var(--main-pink);
   
    >.content {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 50px;
     row-gap: 50px;
   
     padding: 40px 0;
     >.item {
      width: 100%;
      height: 100%;
   
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   
      >.item-city-name {
       font-weight: bolder;
       text-align: center;
       font-size: 1.5em;
       margin: 5% 0;
      }
   
      >.item-image {
       border-radius: 50%;
       aspect-ratio: 1/1;
       width: 60%;
       background-position: center;
       background-size: cover;
      }
   
      >.item-image[cityName='paris'] {
       background-image: url('./img/paris.jpeg');
      }
   
      >.item-image[cityName='New York'] {
       background-image: url('./img/pexels-photo-1029615.jpeg');
      }
   
      >.item-image[cityName='Los Angeles'] {
       background-image: url('./img/pexels-photo-1115804.jpeg');
      }
   
      >.item-image[cityName='Chicago'] {
       background-image: url('./img/pexels-photo-1769369.jpeg');
      }
   
      >.item-image[cityName='Verona'] {
       background-image: url('./img/pexels-photo-2090651.jpeg');
      }
   
      >.item-image[cityName='Tokio'] {
       background-image: url('./img/pexels-photo-325185.jpeg');
      }
     }
    }
   }

   .glr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    >.title {
       width: 70%;
       
        >h1 {
           font-size: 2.5rem; 
        }
        >p {
            font-size: 1rem;
            color: gray;
        }
    }

    >.city {
        background-image: url('./img/pexels-photo-325185.jpeg');
        width:70%;
        height: 600px;
        border-radius: 25px;
        background-position: center;
        background-size: cover;
        box-sizing: border-box;
    }
}
    .photos{ 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
    >.imgs {
        width: 360px;
        height: 360px;
        margin: 5px;
        background-position: center;
        background-size: cover;
    }
    >#i1 {
        background-image: url(./img//pexels-photo-1029615.jpeg);
    }
    >#i2 {
        background-image: url(./img/pexels-photo-1115804.jpeg);
    }
    >#i3 {
        background-image: url(./img/pexels-photo-1769369.jpeg);
    }
    >#i4{
        background-image: url(./img/pexels-photo-2090651.jpeg);
    }
    >#i5{
        background-image: url(./img/pexels-photo-325185.jpeg)
    }
    >#i6{
        background-image: url(./img/pexels-photo-3874015.jpeg);
    }
    }

    .twob {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    >.key {
        background-image: url(./img/wooden-keychain-white.jpg);
        width: 30%;
        height: 500px;
        border-radius: 30px;
        background-position: center;
        background-size: cover;
    }    
    >.trust {
        width: 30%;
        height: 500px;
        border-radius: 30px;
        background-color: #f0effd;
        margin-left: 30px;
    >h1 {
        padding-top: 20px;
        padding-left: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 3rem;
    }
    >p{
        color:gray;
        font-size: 1.5rem;
        padding-left: 10px;
    }
    >ul {
        list-style-type: disc;
    >li {
        font-size: 1.3rem;
        font-weight: bold;
    }
    }
    }
    }
    footer {
        margin-top: 40px;
        background-color: #faeded;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >.title {
            width: 70%;
            
             >h1 {
                font-size: 2.5rem; 
             }
             >p {
                 font-size: 1rem;
                 color: gray;
             }
         }
    }
    .end {
        >input {
            border-color: #b3b3b3;
            background-color: #ffffff;
            border-radius: 20px;
            border-width: 0;
            padding: 15px 20px;
            font-size: inherit;
            width: 414px;
        }

        >span {
            margin: 0 5 0 20;
        }
        >button {
            background-color: black;
            cursor: pointer;
            padding: 10px 30px;
            color: white;
            border-radius: 20px;
            font-size: 1.3rem;
        }
    }